<?xml version="1.0"?>
<config>
    <modules>
        <Srautas_Finvalda>
            <version>1.0.8</version>
        </Srautas_Finvalda>
    </modules>
	<global>
        <models>
            <finvalda>
                <class>Srautas_Finvalda</class>
            </finvalda>
        </models>
        <helpers>
            <finvalda>
                <class>Srautas_Finvalda_Helper</class>
            </finvalda>
        </helpers>
        <events>
			<checkout_onepage_controller_success_action>
				<observers>
					<srautas_finvalda_document_observer>
						<type>singleton</type>
						<class>Srautas_Finvalda_Observer_Document</class>
						<method>createReservationDocument</method>
					</srautas_finvalda_document_observer>
				</observers>
			</checkout_onepage_controller_success_action>
			<customer_save_after>
                <observers>
                    <srautas_finvalda_customer_observer>
                        <type>singleton</type>
                        <class>Srautas_Finvalda_Observer_Customer</class>
                        <method>updateCustomer</method>
                    </srautas_finvalda_customer_observer>
                </observers>
            </customer_save_after>
            <customer_login>
                <observers>
                    <srautas_finvalda_customer_observer>
                        <type>singleton</type>
                        <class>Srautas_Finvalda_Observer_Customer</class>
                        <method>updateCustomer</method>
                    </srautas_finvalda_customer_observer>
                </observers>
            </customer_login>
        </events>
	</global>
    <crontab>
        <jobs>
            <finvalda_update_catalog>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>finvalda/cron::updateCatalog</model>
                </run>
            </finvalda_update_catalog>
            <finvalda_update_stock>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>finvalda/cron::updateStock</model>
                </run>
            </finvalda_update_stock>
        </jobs>
    </crontab>
</config>